- breadcrumb :users
= render 'layouts/breadcrumbs'

.show-userArea
  .show-userArea__is-profile-boxes
    - @users.each do |user|
      .show-userArea__is-profile-boxes__profile
        .show-userArea__is-profile-boxes__profile__image
          = link_to user_path(user) do
            = attachment_image_tag user, :profile_image, fallback: "no-image.png", size: "310x280"
        .show-userArea__is-profile-boxes__profile__contents
          .show-userArea__is-profile-boxes__profile__contents__username-box
            = link_to user.name, user_path(user)
          .show-userArea__is-profile-boxes__profile__contents__counts
            投稿数:
            = user.posts.count
