.show-title
  %h1 マイページ

.show-box
  .show-box__image
    = attachment_image_tag @user, :profile_image, fallback: "no-image.png", size: "200x200"

  .show-contents
    .show-contents__username
      %h2= @user.name
    - if @user.id == current_user.id
      .show-contents__email
        %p= @user.email
    .show-contents__profile
      = @user.profile
.edit-email-btn
  = link_to "プロフィール編集", edit_user_path(@user)