= form_for(@post) do |f|
  .field
    .field-label
      = f.label :title, "snowB"
    .field-input
      = f.text_field :title
  .field
    .field-label
      = f.label :appeal, "ココがポイント!"
    .field-input
      = f.text_area :appeal
  .field
    .field-label
      = f.label :image, "snowB写真"
    .field-input
      = f.attachment_field :image
  .actions
    = f.submit "投稿する", class: "btn"