.postWrapper
  .postWrapper__each-show-box
    .postWrapper__each-show-box__profile
      .postWrapper__each-show-box__profile__image
        = link_to user_path(@post.user) do
          = attachment_image_tag @post.user, :profile_image, fallback: "no-image.png", size: "100x100"
      .postWrapper__each-show-box__profile__username
        = link_to user_path(@post.user) do
          = @post.user.name

    .postWrapper__each-show-box__main-image
      = attachment_image_tag @post, :image, size: "710x600"
    .postWrapper__each-show-box__main-contents
      .postWapper__each-show-box__main-contents__top
        .postWrapper__each-show-box__main-contents__top__title
          = @post.title
        .postWrapper__each-show-box__main-contents__top__favoritesBox
          - if current_user.already_favorited?(@post)
            = link_to post_favorites_path(@post), method: :delete do
              = icon('fas', 'thumbs-up')
          - else
            = link_to post_favorites_path(@post), method: :post do
              = icon('far', 'thumbs-up')
          .postWrapper__each-show-box__main-contents__top__favoritesBox__count
            = @post.favorites.count
      .postWrapper__each-show-box__main-contents__body
        = simple_format @post.body
      .postWrapper__each-show-box__main-contents__edit-btn
        - if @post.user.id == current_user.id
          = link_to "編集", edit_post_path(@post)

  .postWrapper__commentsBox
    - if current_user
      .postWrapper__commentsBox__comments
        = form_for [@post, @comment], local: true do |f|
          = f.text_field :text, placeholder: "気になったsnowBにコメントしよう!", class: "commentsForm"
          = f.submit "送信", class: "commentsSubmit"
        .postWrapper__commentsBox__commentsLists
          %h2 コメント一覧
          -if @comments
            - @comments.each do |comment|
              %span
                = link_to comment.user.username

