-# - if current_user.favorited_by?(post.id)
  = link_to post_favorites_path(post), method: :delete, remote: true do
    = icon('fas', 'thumbs-up')
- else
  = link_to post_favorites_path(post), method: :post, remote: true do
    = icon('far', 'thumbs-up')
.posts-profile-box__favoritesBox__count
  = post.favorites.count