- if post.favorite_by?(current_user)
  = link_to post_favorites_path(post), method: :delete, remote: true do
    = icon('fas', 'thumbs-up')
- else
  = link_to post_favorites_path(post), method: :post, remote: true do
    = icon('far', 'thumbs-up')
.posts-profile-box__favoritesBox__count
  = post.favorites.count