.header
  .title-menu
    .title-menu__icon
      = link_to root_path do
        = icon('fas', 'snowboarding')
    .title-menu__title
      = link_to 'snowBgram', root_path
    .title-menu__menu
      %nav
        %ul
          %li 
            = link_to 'HOME', root_path
          %li 
            = link_to 'snowB一覧', posts_path
          %li 
            = link_to 'snowBユーザー', users_path
    
  
  .sign
    - if user_signed_in?
      .sign__new-post
        = link_to "新規投稿", new_post_path
      .sign__new-post
        = link_to "マイページ", user_path(current_user)
      .sign__log-out
        = link_to 'ログアウト', destroy_user_session_path, method: :delete

    - else
      .sign__login
        = link_to 'ログイン', new_user_session_path
      .sign__new-registration
        = link_to '新規登録', new_user_registration_path